<div class="container">
  <div class="row">
    <form (ngSubmit)="onSave()" #f="ngForm">

      <div class="form-group">
        <label for="name">Country: </label>
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="true">
            <div>{{ selectedCountryName }}</div>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li *ngFor="let country of countries" value="country.id" (click)="onSelectCountry(country);"
                [ngClass]="selectedCountryId == country.id ? 'selected' : ''">
              <img *ngIf="country.flagUrl != null" [src]="country.logoUrl" alt="{{ country.name }}" />
              {{ country.name }}
            </li>
          </ul>
        </div>
      </div>

      <div class="form-group">
        <label for="name">City: </label>
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="true">
            <div>{{ selectedCityName }}</div>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li *ngFor="let city of countries" value="city.id" (click)="onSelectCity(city);"
                [ngClass]="selectedCityId == city.id ? 'selected' : ''">
              <img *ngIf="city.flagUrl != null" [src]="city.logoUrl" alt="{{ city.name }}" />
              {{ city.name }}
            </li>
          </ul>
        </div>
      </div>

      <div class="form-group">
        <label for="name">Name: </label>
        <input type="text" id="name" name="name" class="form-control" ngModel required />
      </div>
      <div class="form-group">
        <label for="stars">Stars: </label>
        <input type="text" id="stars" name="stars" class="form-control" ngModel required />
      </div>
      <div class="form-group">
        <label for="name">Address: </label>
        <textarea type="text" id="address" name="address" class="form-control" ngModel></textarea>
      </div>

      <p *ngIf="(f.controls.name != null && !f.controls.name.valid && f.controls.name.touched)"
         class="alert-danger">
        Please enter valid values!
      </p>
      <div class="row">
        <div class="col-12">
          <button class="btn btn-primary" type="reset">Clear</button>
          <button class="btn btn-success" type="submit" [disabled]="!f.valid">Save</button>
          <button class="btn btn-danger" type="button" [disabled]="id == null" (click)="onDelete()">Delete</button>
          <button class="btn btn-warning" type="button" (click)="onCancel()">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>
<br />

<app-spinner *ngIf="isLoading"></app-spinner>
