<div class="container text-center" *ngIf="model != null">

  <div class="row">
    <div class="col-12">
      <img *ngIf="selectedPhotoUrl != null; else noPhoto" [src]="selectedPhotoUrl"
           class="img-response selected-photo" />
      <ng-template #noPhoto><img src="images/NoImage.png" class="img-response" /></ng-template>
    </div>
  </div>

  <div class="row">
    <div class="col-12 text-center">
      <div class="slider-album">
        <span class="fa fa-chevron-left prev {{photoSlideRightCount > 0  ? '': 'disabled'}}"
              (click)="(photoSlideRightCount == 0) || onSlideLeft()"></span>
        <div>
          <div [ngStyle]="{left: photoSliderLeft + 'px'}">
            <img *ngFor="let photo of model.photos;" [src]="photo.photoUrl" class="img-response"
                 (click)="onSelectPhoto(photo)" [ngClass]="selectedPhotoUrl == photo.photoUrl ? 'selected': ''" />
          </div>
        </div>
        <span class="fa fa-chevron-right next {{photoSlideRightCount + 1 < photoSliderCount ? '': 'disabled'}}"
              (click)="(photoSlideRightCount + 1 >= photoSliderCount) || onSlideRight()"></span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h4>{{ model.name }}</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <span *ngFor="let item of [].constructor(5); let i = index" class="fa fa-star{{ model.stars > i ? ' checked' : ''}}"></span>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <span>{{ model.city?.country?.name }} - {{ model.city?.name }}</span>
    </div>
  </div>
  <div class="row" *ngIf="model.address">
    <div class="col-12">
      <address>{{ model.address }}</address>
    </div>
  </div>
  <br />

  <div class="row">
    <div class="col-12">

      <div class="btn-group">
        <button class="btn btn-primary" style="cursor:pointer" (click)="onBack()">Back</button>
        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" appDropDown>
          Manage<span class="caret"></span>
        </button>
        <div class=" dropdown-menu">
          <a class="dropdown-item" style="cursor:pointer" (click)="onPhotos()">Photos</a>
          <a class="dropdown-item" style="cursor:pointer" (click)="onRooms()">Rooms</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" style="cursor:pointer" (click)="onEdit()">Edit</a>
          <a class="dropdown-item" style="cursor:pointer" (click)="onDelete()">Delete</a>
        </div>
      </div>
    </div>
  </div>
</div>
<br />

<app-modal-container #photos></app-modal-container>

<app-spinner *ngIf="isLoading"></app-spinner>
