<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-icon">
      ⌘
    </li>
    <li class="breadcrumb-item">
      <a [routerLink]="['/']">Home</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      <span>Branches</span>
    </li>
  </ol>
</nav>

<div class="container">
  <div class="row">
    <div class="dropdown col-4">
      <app-drop-down [data]="banks" textProperty="name" imageProperty="logoUrl"
                     [selectedItem]="selectedBank" (select)="onSelectBank($event)">
      </app-drop-down>     
    </div>
  </div>
  <br />

  <div class="row">
    <div class="col-7">
      <app-branch-list></app-branch-list>
    </div>
    <div class="col-5">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<app-spinner *ngIf="isLoading"></app-spinner>
