/* You can add global styles to this file, and also import other style files */

/**************** ScrollBar *************/

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #D8D8D8;
  border: 1px solid #B7B7B7;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #69BFCE;
  border-radius: 20px;
  border: 1px solid #438089;
}

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #64CBDB;
  }

/*************************************/

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

body {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

  body .container {
    overflow-y: visible;
    height: auto;
  }

footer {
  color: #FFF;
  padding-top: 40px;
  min-height: 100px;
  height: auto;
  margin-top: auto;
}

  footer h5 {
    color: #25A1C6;
    padding-left: 20px;
  }

  footer a {
    font-size: 12px;
    color: #949D9A;
  }

    footer a:hover {
      color: #FFF;
    }

  footer img {
    width: 150px;
    margin-bottom: 30px;
  }

.footer-copyright {
  background-color: #1F2326;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

p.alert-danger {
  border: 1px solid red;
  border-radius: 3px;
  padding: 5px;
}

.breadcrumb-icon {
  font-size: 1.75rem;
  color: #6c757d;
  padding-right: 5px;
  margin: -5px 0;
}

.pointer {
  cursor: pointer;
}

.breadcrumb-item.active, .breadcrumb-item a {
  padding-top: 5px;
}

  .breadcrumb-item a,
  .breadcrumb-item a:active {
    text-decoration: none;
    color: black;
  }

    .breadcrumb-item a:hover {
      color: darkorange;
    }

input.ng-invalid.ng-touched,
select.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}

.rows-count {
  color: #FFF;
  background-color: #343A40;
  border: 1px solid #000;
  padding: 10px 20px;
}
