<footer class="bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-offset-2 col-1">
        <img src="/images/Logo.png">
      </div>
      <div class="container-fluid col-8">
        <div class="row">
          <h5>Site Map</h5>
        </div>
         <div class="row">
          <ul class="col-2 list-unstyled">
            <li [routerLinkActive]="['link-active']"
                [routerLinkActiveOptions]="{ exact: true }">
              <a class="nav-link" [routerLink]="['/']">
                Home
              </a>
            </li>
            <li class="nav-item" [routerLinkActive]="['link-active']">
              <a class="nav-link" [routerLink]="['/banks']">Banks</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['link-active']">
              <a class="nav-link" [routerLink]="['/branches']">Branches</a>
            </li>
          </ul>
          <ul class="col-2 list-unstyled">
            <li class="nav-item" [routerLinkActive]="['link-active']">
              <a class="nav-link" [routerLink]="['/about']">About Us</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['link-active']">
              <a class="nav-link" [routerLink]="['/contact']">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-copyright text-center py-3">
    © 2020 Copyright:
    <em> Sarah Banieghbal</em>
  </div>

</footer>
