<div class="container">
  <div class="row">
    <form (ngSubmit)="onSave()" #f="ngForm">
      <div class="form-group">
        <label for="name">Name: </label>
        <input type="text" id="name" name="name" class="form-control" ngModel required />
      </div>
      <div class="form-group">
        <label for="name">Code: </label>
        <input type="text" id="code" name="code" class="form-control" ngModel required />
      </div>
      <div class="form-group">
        <label for="name">Address: </label>
        <textarea type="text" id="address" name="address" class="form-control" ngModel></textarea>
      </div>
      <p *ngIf="(f.controls.name != null && !f.controls.name.valid && f.controls.name.touched) ||
         (f.controls.code != null && !f.controls.code.valid && f.controls.code.touched)"
         class="alert-danger">
        Please enter valid values!
      </p>
      <div class="row">
        <div class="col-12">
          <button class="btn btn-primary" type="reset">Clear</button>
          <button class="btn btn-success" type="submit" [disabled]="!f.valid">Save</button>
          <button class="btn btn-danger" type="button" [disabled]="id == null" (click)="onDelete()">Delete</button>
          <button class="btn btn-warning" type="button" (click)="onCancel()">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>
<br />

<app-spinner *ngIf="isLoading"></app-spinner>
