.fa-star {
  color: #343A40; /*565C63*/
  text-shadow: 0 0 1px #343A40, 0 0 1px #343A40, 0 0 1px #343A40, 0 0 1px #343A40;
}

.checked {
  color: #FFD119;
  text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
}

.list-group-item img {
  max-width: 50px;
  max-height: 50px;
  margin-right: 5px;
  border: 1px solid #000;
  border-radius: 2px;
}
