

.dropdown > button {
  border: 1px solid #96A3BC;
  text-align: right;
  width: 100%;
}

.dropdown.ng-invalid.ng-touched > button {
  border: 1px solid red;
}

.dropdown > button > div {
  float: left;
}

ul.dropdown-menu {
  padding: 0;
  width: 100%;
  min-height: 80px;
  max-height: 200px;
  overflow-y: auto;
}

  ul.dropdown-menu > li {
    padding: 5px;
    border: 1px solid #96A3BC;
    cursor: pointer;
  }

    ul.dropdown-menu > li:hover {
      background-color: #74ECFF;
    }

    ul.dropdown-menu > li.selected {
      background-color: #99D1DB;
    }

    ul.dropdown-menu > li > img {
      width: 20px;
    }
