<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-icon">
      ⌘
    </li>
    <li class="breadcrumb-item">
      <a [routerLink]="['/']">Home</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      <span>Hotels</span>
    </li>
  </ol>
</nav>

<div class="container">
  <div class="row">
    <div class="col-7">
      <app-hotel-list></app-hotel-list>
    </div>
    <div class="col-5">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
