<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-icon">
      ⌘
    </li>
    <li class="breadcrumb-item">
      <a [routerLink]="['/']">Home</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      <span>Contact Us</span>
    </li>
  </ol>
</nav>

<div class="container">
  <div class="row">
    <div class="col-12">
      <form (ngSubmit)="onSend()" #f="ngForm">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" class="form-control col-5" ngModel required email
                 [tooltip]="f.controls.email != undefined && !f.controls.email.valid && f.controls.email.touched ? 'Email is not valid!' : ''"
                 [display]="f.controls.email != undefined && !f.controls.email.valid && f.controls.email.touched"
                 [theme]="light" />
        </div>
        <div class="form-group">
          <label for="message">Message</label>
          <textarea id="message" name="message" class="form-control" rows="5" ngModel required
                    [tooltip]="f.controls.message != undefined && !f.controls.message.valid && f.controls.message.touched ? 'Message is not valid!' : ''"
                    [display]="f.controls.message != undefined && !f.controls.message.valid && f.controls.message.touched"></textarea>
        </div>
        <p *ngIf="(!f.controls.email.valid && f.controls.email.touched) ||
           (!f.controls.message.valid && f.controls.message.touched)"
           class="alert-danger">
          Please enter valid values!
        </p>
        <button type="reset" class="btn btn-danger" [disabled]="!f.touched">Clear</button>
        <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Send</button>
      </form>
    </div>
  </div>
</div>
