<div class="container" *ngIf="hotels">
  <div class="row">
    <div class="col-12 list-group">
      <app-hotel-item *ngFor="let hotel of hotels;" [model]="hotel">
      </app-hotel-item>
      <div class="rows-count">
        <b>Total: </b><span>{{ count }}</span>
      </div>
    </div>
  </div>
</div>
<br />

<div>
  <button class="btn btn-primary" (click)="onAdd()">Add</button>
  <button class="btn btn-success" (click)="onRefresh()">Refresh</button>
</div>
<br />

<app-spinner *ngIf="isLoading"></app-spinner>
