<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-icon">
      ⌘
    </li>
    <li class="breadcrumb-item">
      <a [routerLink]="['/']">Home</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      <span>About Us</span>
    </li>
  </ol>
</nav>

<h1>Our Team Members</h1>

<div class="card-columns">
  <div class="card bg-primary">
    <img class="card-img-top" src="/Images/img_avatar1.png" alt="Card image" style="width:100%">
    <div class="card-body text-center">
      <h4 class="card-title">John Doe</h4>
      <p class="card-text">Team Leader</p>
    </div>
  </div>
  <div class="card bg-success">
    <img class="card-img-top" src="/Images/img_avatar4.png" alt="Card image" style="width:100%">
    <div class="card-body text-center">
      <h4 class="card-title">Kathy Smith</h4>
      <p class="card-text">Scrum Master</p>
    </div>
  </div>
  <div class="card bg-danger">
    <img class="card-img-top" src="/Images/img_avatar3.png" alt="Card image" style="width:100%">
    <div class="card-body text-center">
      <h4 class="card-title">Roger Smith</h4>
      <p class="card-text">Senior Software Developer</p>
    </div>
  </div>
  <div class="card bg-warning">
    <img class="card-img-top" src="/Images/img_avatar6.png" alt="Card image" style="width:100%">
    <div class="card-body text-center">
      <h4 class="card-title">Megan Mayor</h4>
      <p class="card-text">Software Developer</p>
    </div>
  </div>
  <div class="card bg-info">
    <img class="card-img-top" src="/Images/img_avatar2.png" alt="Card image" style="width:100%">
    <div class="card-body text-center">
      <h4 class="card-title">Bill Smith</h4>
      <p class="card-text">Software Developer</p>
    </div>
  </div>
</div>
